





{{!-- Ignonera! Detta är bara en framsida, altså index som är skapad för mitt portfolio i framtiden--}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index-style.css">
    <title>Document</title>
<link rel="preconnect" href="https://rsms.me/">
<link rel="stylesheet" href="https://rsms.me/inter/inter.css">

</head>
<body>
  <header>
 <div class="first-section">
    <center>
<img src="/css/phone.png">
        </center>
    </div>
        <nav>
            <div class="second-section">
            <h1>"Protecting privacy is key to ensuring human dignity, safety and self-determination, we thrive to enforce your right to personal intragrity and privacy. "</h1>
                      <h4>SEQURE - encryption, secrecy & reputability.</h4>
<button onclick="window.location.href='/login'" style="background-color: transparent; border:3px solid black;">Login</button>
<button onclick="window.location.href='/register'" > Join</button>
</br>
<center>
<a href="" style="float:left; padding-top: 10px;">Or continue as a guest.</a>
</center>
</div>
</nav>

</header>

</body>
</html>